/***add on styles***/

/*Fonts*/
body {
  font-family: 'Josefin Slab', serif; 
}


/*margins and paddings*/
section {
   padding: 50px 0;
}

/*#Why*/
#why{
  background-color: #44DBBE;
}

#why .title {
  font-size: 48px;
  margin-bottom: 20px;
}

#why .content {
  font-size: 24px;
  margin-bottom: 20px;
}

/*#Teachers*/
#teachers {
  background-color: #FFF578;
}

#teachers .title {
  font-size: 36px;
  margin-bottom: 20px;  
}

#teachers .content {
  font-size: 24px;
}

#cruz {
  background-color: #78CDF2;
}

#cruz.school .content-block {
  background-color: #74B3D0;
}

/*.School*/
.school .title {
  font-size: 72px;
  text-align: center;
  font-weight: 400;
  font-family: 'Arvo', serif;
}

.school .school-info {
  text-align: center;
  margin-bottom: 20px;
}

.school .school-info span {
  margin: 0 20px;
  font-size: 24px;
}

.school .school-info img {
  width: 240px;
}

.school .content-block {
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 40px;
}

.school .content-block .main {
  text-align: center;
  font-size: 48px;
  margin-bottom: 25px;
}

.school .content-block .quotes {
  font-size: 24px;
}

.content-block .table {
  font-size: 25px;
  font-weight: 100;
}


.content-block p.about {
  font-size: 20px;
  font-weight: 100;
}



.table.no-border td{
    border-top: none !important;
}
