/***add on styles***/

/*Fonts*/
body {
  font-family: 'Josefin Slab', serif; 
}


/*margins and paddings*/
section {
   padding: 50px 0;
}

/*Hero*/
#hero {
  min-height: 800px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("/images/KidsHavingFunSplash.jpg")
}

#hero .title {
  text-align: center;
  font-family: 'Arvo', serif;
  font-weight: 700;
  font-size: 144px;
}

#hero .content {
  margin-top: 50px;
  font-size: 50px;
  text-align: center;
}

/*#Why*/
#why {
  background-color: #44DBBE;
}

#why .title {
  font-size: 48px;
  margin-bottom: 20px;
}

#why .content {
  font-size: 24px;
  margin-bottom: 20px;
}

/*#Teachers*/
#teachers {
  background-color: #FFF578;
}

#teachers .title {
  font-size: 36px;
  margin-bottom: 20px;  
}

#teachers .content {
  font-size: 24px;
}

#cruz {
  background-color: #78CDF2;
}

#cruz.school .content-block {
  background-color: #74B3D0;
}

#cruz .learn-block {
  text-align: center;
}

#cruz a.learn {
  min-width: 170px;
  font-size: 25px;
}

#noah {
  background-color: #BB3B3B
}

#noah.school .content-block {
  background-color: #A33434;
}

/*.School*/
.school .title {
  font-size: 72px;
  text-align: center;
  font-weight: 400;
  font-family: 'Arvo', serif;
}

.school .school-info {
  text-align: center;
  margin-bottom: 20px;
}

.school .school-info span {
  margin: 0 20px;
  font-size: 24px;
}

.school .school-info img {
  width: 240px;
}

.school .content-block {
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 40px;
}

.school .content-block .main {
  text-align: center;
  font-size: 48px;
  margin-bottom: 25px;
}

.school .content-block .quotes {
  font-size: 24px;
  padding: 0 25px;
}

.school .content-block .quotes.left {
  border-right: 1px solid
}
.school .content-block .quotes p {
  margin-bottom: 20px;
}

.content-block .table {
  font-size: 25px;
  font-weight: 100;
}

.content-block p.about {
  font-size: 25px;
  font-weight: 100;
}

/*Form*/
#form {
  background-color: #44DBBE;
}

#form .title{
  font-size: 60px;
  font-family: 'Arvo', serif;
  font-weight: 700;
  text-align: center;
}

#form .content {
  font-size: 48px;
  text-align: center;
}

#form .info {
  margin-top: 40px;
  text-align: center;
  color: black;
}

#form .submit {
  margin-top: 40px;
  text-align: center;
}

#form .info input {
  min-height: 35px;
  width: 200px;
  border-radius: 5px;
  padding: 5px 0 0 10px;
  font-size: 18px;
}

#form .submit input {
  min-height: 70px;
  background-color: #323131;
  border-color: #323131;
  border-radius: 5px;
  min-width: 170px;
  font-size: 25px;
}

.table.no-border td{
    border-top: none !important;
}
