<section id="admin" class="container-fluid">
  <div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-4 login">
          <p class="error">
            <% if(error){ %>
              UNAUTHORIZED - <a href="https://www.youtube.com/watch?v=8fvTxv46ano"><%= error %></a>
            <% } %> 
          </p>  
          
          <form action="/users" method="POST" class="form-inline">
            <div class="form-group">
                <input name="password" type="password" id="password" class="form-control input-lg" placeholder="password"/>
                <input type="submit" value="View Users" class="btn btn-default btn-lg ml10">
            </div>
          </form>
        </div>
    </div>
</section>