<!-- Header -->
<section id="header" class="container-fluid text-white">
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-6 column">
        <h1 class="text-left">
          <i id="logo" class="fa fa-paper-plane-o"></i>
        </h1>
        <h1 class="main_title">East is the perfect landing page for your apps.</h1>
        <p class="text-left lead">
          Explore how your products can be a champion. Includes multiple colors and variations. Available exclusively on WrapBootstrap marketplace.
        </p>
        <a href="/admin" class="btn btn-lg btn-lead"><span class="glyphicon glyphicon-cloud-download"></span> Admin Page</a>

      </div>
      <div class="col-md-6 column">
        <div id="main-slider" class="flexslider">
          <ul class="slides">
            <li>
              <img class="img-responsive" src="images/mockup-iphone6.png" alt="Slide One">
            </li>
            <li>
              <img class="img-responsive" src="images/mockup-iphone6_2.png" alt="Slide Two">
            </li>
            <li>
              <img class="img-responsive" src="images/mockup-ipad-air.png" alt="Slide Three">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- /container  -->
</section>   
<!-- end header -->