<!-- Hero -->
<section id="hero" class="container-fluid text-white">
  <div class="container">
    <div class="row clearfix">
      <div class="col-sm-2 col-sm-offset-10">
        <a href="/admin" class="btn btn-primary btn-lg admin">Admin</a>
      </div>
      <div class="title">Cottage Class</div>
      <p class="content col-sm-8 col-sm-offset-2">Connecting your children with visionary teachers and schools</p>
    </div>
  </div>
</section>

<!-- Why -->
<section id="why" class="container-fluid text-white">
  <div class="container">
    <div class="row clearfix">
      <div class="col-sm-12 text-center">
        <div class="title">Why Cottage Class?</div>
        <p class="content">Parents everywhere are dissatisfied with the educational system. Visionary teachers feel the same way. In response, micro-schools are popping up all over the country. These independent schools are founded and led by brilliant teachers who run small programs in their homes and local public spaces.</p>
        <p class="content">Parents want educational alternatives for their children. Passionate teachers are running brilliant programs. Cottage class is a platform built to connect you.</p>
        <p class="content">Find, apply, and enroll in a school your whole family will love.</p>
      </div>
    </div>
  </div> <!-- /container -->
</section>
<!-- end why -->

<!-- Teachers -->
<section id="teachers" class="container-fluid text-black">
  <div class="container">
    <div class="row clearfix">
      <div class="col-sm-12 text-center">
        <div class="title">We Only Accept Amazing Teachers</div>
        <p class="content col-sm-8 col-sm-offset-2">We vet our schools rigorously to ensure the highest educational standards. We’re starting small to make sure we get things right. You can explore our featured schools below, if we don’t fit your currents needs, please don’t hesistate to get in touch with us below!</p>
      </div>
    </div>
  </div>
</section>
<!-- end teachers -->

<!-- Cruz -->
<section id="cruz" class="container-fluid text-white school">
  <div class="container">
    <div class="row clearfix">
      <div class="col-sm-offset-2 col-sm-8">
        <div class="col-sm-12 title">Cruz's School</div>
        <div class="col-sm-12 school-info">
          <span class="location">San Francisco</span>
          <span class="profile-photo">
            <img class="img-circle" alt="cruz" src="images/cruz.jpg" />
          </span>
          <span class="category">Preschool</span>
        </div>
      </div>
    </div>
    <div class="row">
      <hr>
    </div>
    <div class="row">
      <div class="content-block col-sm-12">
        <div class="main col-sm-12">What Parents are Saying</div>
        <div class="quotes left col-sm-6">
          <p>“My son built a very amazing robot very much of his own imagination, and proudly demonstrated all of its complex features to all of us parents at the end of the year”</p>
          <p>“Big City Montessori was near, but TOO BIG for us"</p>
          <p>“The warm and inviting space is filled with beautiful Montessori materials...”</p>
          <p>“Cruz’s school is quite the hidden treasure!”</p>
        </div>
        <div class="quotes col-sm-6">
          <p>“Cruz is very focused on meeting each child's individual needs”</p>
          <p>“This is such a wonderful school!”</p>
          <p>“My kids love her”</p>
          <p>“Her curriculum shifts according to the group's interests (What a dream!)”</p>
        </div>
      </div>

      <div class="content-block col-sm-12">
        <div class="main col-sm-12">Details</div>
        <table class="table no-border">
          <tr>
            <td>Location:</td>
            <td>Mission District, San Francisco</td>
          </tr>
          <tr>
            <td>Type of School:</td>
            <td>PreK</td>
          </tr>
          <tr>
            <td>License:</td>
            <td>Family-base daycare</td>
          </tr>
          <tr>
            <td>Curriculum:</td>
            <td>Montessori</td>
          </tr>
          <tr>
            <td>Enrollement Size:</td>
            <td>6-8 students</td>
          </tr>
          <tr>
            <td>Ages:</td>
            <td>4-5 (full or part-time) and 6-8 (part-time only)</td>
          </tr>
          <tr>
            <td>Times:</td>
            <td>9am - 3pm</td>
          </tr>
          <tr>
            <td>Days:</td>
            <td>2, 3, 4 or 5 Days/Week</td>
          </tr>                         
        </table>
      </div>
      <div class="content-block col-sm-12">
        <div class="main col-sm-12">About</div>
        <p class="about">Cruz's Montessori School is founded on the approach and values of the Montessori philosophy and method of education. Our school offers comprehensive programming within a unique, diverse and consistent environment. We acknowledge and respect our families and provide a place of harmony within our community. Our school is committed to following your child's progress, in accordance with your child's interests and contributions. In our Montessori classroom work and play are one in the same. Children engage themselves cooperatively and independently throughout the school year. Critical components of the programming include providing productive, child-centered settings, understanding developmental stages, promoting your child's autonomy, and establishing nurturing relationships.</p>
      </div>            
    </div>
  </div>
  <div class="learn-block col-sm-12">
    <a href="#form" class="learn btn btn-primary btn-lg">Learn More</a>  
  </div> 
</section>
<!-- end Cruz -->

<!-- Noah -->
<section id="noah" class="container-fluid text-white school">
  <div class="container">
    <div class="row clearfix">
      <div class="col-sm-offset-2 col-sm-8">
        <div class="col-sm-12 title">Noah's School</div>
        <div class="col-sm-12 school-info">
          <span class="location">Brooklyn</span>
          <span class="profile-photo">
            <img class="img-circle" alt="cruz" src="images/noah.jpg" />
          </span>
          <span class="category">Homeschool Coop</span>
        </div>
      </div>
    </div>
    <div class="row">
      <hr>
    </div>
    <div class="row">
      <div class="content-block col-sm-12">
        <div class="main col-sm-12">What Parents are Saying</div>
        <div class="quotes left col-sm-6">
          <p>“Noah is is an adventurous, sensitive, and attentive educator, who uses the whole city as his classroom”</p>
          <p>“Noah's school has brought joy back into our son's understanding of education.”</p>
          <p>“Noah is flexible in his planning, so as to be able to integrate his students interests into the curriculum.”</p>
          <p>“Noah instills a fondness for lifelong learning”</p>
        </div>
        <div class="quotes col-sm-6">
          <p>“Noah has created a school which makes his young scholars feel excited about taking part in their own education, a place where education is not an onerous task foisted upon them, but an organic, living part of their lives, in which they have a real and honest investment.”</p>
          <p>“We are so grateful to Noah..”</p>
          <p>“What can I say? My wife, my son, and I are all crazy about this school.</p>
        </div>
      </div>

      <div class="content-block col-sm-12">
        <div class="main col-sm-12">Details</div>
        <table class="table no-border">
          <tr>
            <td>Location:</td>
            <td>Brooklyn</td>
          </tr>
          <tr>
            <td>Type of School:</td>
            <td>Homeschool Coop</td>
          </tr>
          <tr>
            <td>Curriculum:</td>
            <td>Reggio Emilia influenced, Experiential</td>
          </tr>
          <tr>
            <td>Enrollement Size:</td>
            <td>6-9 students (with two teachers)</td>
          </tr>
          <tr>
            <td>Grades:</td>
            <td>1st-3rd</td>
          </tr>
          <tr>
            <td>Grades:</td>
            <td>9am - 2:45pm</td>
          </tr>
          <tr>
            <td>Days:</td>
            <td>Full-time (M-F), 2 day (Monday/Tuesday or Wednesday/Friday) or 3 day</td>
          </tr>                         
        </table>
      </div>
      <div class="content-block col-sm-12">
        <div class="main col-sm-12">About</div>
        <p class="about">We believe that children should have meaningful experiences with the world outside the classroom. Students at our school are given the time to play outdoors, and the space and resources they need to sustain their curiosity, and become inspired, independent learners.We are inspired by the <em>Reggio Emilia</em> approach to education. Our goal is to nurture the spirit of inquiry and play that children naturally bring to everything they do. We provide the space, the tools, and the opportunity for children to use their hands to develop their minds. <em>Field trips</em> are an essential part of the way we learn. We're out on the town at least once a week. The city is an amazing resource and teacher. We've found an overwhelming bounty of experts, artists, craftspeople, professionals, and pigeon fanciers to share their experience and expertise with us.</p>
      </div>            
    </div>
  </div>
</section>
<!-- end Noah -->

<section id="form" class="container-fluid text-white">
  <div class="title">Interested in Learning More?</div>
  <div class="content col-sm-8 col-sm-offset-2">Fill out this form to recieve a phone consultation.</div>
  <form action="/inquiry" method="POST">
    <div class="info col-sm-4">
      <input type="text" name="name" placeholder="Full Name">
    </div>
    <div class="info col-sm-4">
      <input type="email" name="email" placeholder="Email">
    </div>
    <div class="info col-sm-4">
      <input type="text" name="phone" placeholder="Phone">
    </div>
    <div class="info col-sm-4">
      <input type="text" name="location" placeholder="Where are you located?">
    </div>
    <div class="info col-sm-4">
      <input type="text" name="ages" placeholder="How old are your kids?">
    </div>
    <div class="info col-sm-4">
      <input type="text" name="times" placeholder="Best times to call you?">
    </div>
    <div class="submit col-sm-12">
      <input type="submit" value="Get In Touch">  
    </div>    
  </form>
</section>

