<!-- Why -->
<section id="why" class="container-fluid text-white">
  <div class="container">
    <div class="row clearfix">
      <div class="col-sm-12 text-center">
        <div class="title">Why Cottage Class?</div>
        <p class="content">Parents everywhere are dissatisfied with the educational system. Visionary teachers feel the same way. In response, micro-schools are popping up all over the country. These independent schools are founded and led by brilliant teachers who run small programs in their homes and local public spaces.</p>
        <p class="content">Parents want educational alternatives for their children. Passionate teachers are running brilliant programs. Cottage class is a platform built to connect you.</p>
        <p class="content">Find, apply, and enroll in a school your whole family will love.</p>
      </div>
    </div>
  </div> <!-- /container -->
</section>
<!-- end why -->

<!-- Teachers -->
<section id="teachers" class="container-fluid text-black">
  <div class="container">
    <div class="row clearfix">
      <div class="col-sm-12 text-center">
        <div class="title">We Only Accept Amazing Teachers</div>
        <p class="content col-sm-8 col-sm-offset-2">We vet our schools rigorously to ensure the highest educational standards. We’re starting small to make sure we get things right. You can explore our featured schools below, if we don’t fit your currents needs, please don’t hesistate to get in touch with us below!</p>
      </div>
    </div>
  </div>
</section>
<!-- end teachers -->

<!-- Cruz -->
<section id="cruz" class="container-fluid text-white school">
  <div class="container">
    <div class="row clearfix">
      <div class="col-sm-offset-2 col-sm-8">
        <div class="col-sm-12 title">Cruz's School</div>
        <div class="col-sm-12 school-info">
          <span class="location">San Francisco</span>
          <span class="profile-photo">
            <img class="img-circle" alt="cruz" src="images/profiles/cruz.jpg" />
          </span>
          <span class="category">Preschool</span>
        </div>
      </div>
    </div>
    <div class="row">
      <hr>
    </div>
    <div class="row">
      <div class="content-block col-sm-12">
        <div class="main col-sm-12">What Parents are Saying</div>
        <div class="quotes col-sm-6">
          <p>"You think water moves fast? You should see ice. It moves like it has a mind"</p>
          <p>"You think water moves fast? You should see ice. It moves like it has a mind"</p>
          <p>"You think water moves fast? You should see ice. It moves like it has a mind"</p>
          <p>"You think water moves fast? You should see ice. It moves like it has a mind"</p>
        </div>
        <div class="quotes col-sm-6">
          <p>"You think water moves fast? You should see ice. It moves like it has a mind"</p>
          <p>"You think water moves fast? You should see ice. It moves like it has a mind"</p>
          <p>"You think water moves fast? You should see ice. It moves like it has a mind"</p>
          <p>"You think water moves fast? You should see ice. It moves like it has a mind"</p>
        </div>
      </div>
      <div class="content-block col-sm-12">
        <div class="main col-sm-12">Details</div>
        <table class="table no-border">
          <tr>
            <td>Location:</td>
            <td>Mission District, San Francisco</td>
          </tr>
          <tr>
            <td>Type of School:</td>
            <td>PreK</td>
          </tr>
          <tr>
            <td>License:</td>
            <td>Family-base daycare</td>
          </tr>
          <tr>
            <td>Curriculum:</td>
            <td>Montessori</td>
          </tr>
          <tr>
            <td>Enrollement Size:</td>
            <td>6-8 students/td>
          </tr>
          <tr>
            <td>Ages:</td>
            <td>4-5 (full or part-time) and 6-8 (part-time only)</td>
          </tr>
          <tr>
            <td>Times:</td>
            <td>9am - 3pm</td>
          </tr>
          <tr>
            <td>Days:</td>
            <td>2, 3, 4 or 5 Days/Wekk</td>
          </tr>                         
        </table>
      </div>
      <div class="content-block col-sm-12">
        <div class="main col-sm-12">About</div>
        <p class="about">Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.</p>
      </div>            
    </div>
  </div>

</section>
<!-- end Cruz -->

<!-- Video -->
<section id="video" class="container-fluid text-blue">
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12 column p_title">
        <h2 class="text-center">Take a video tour</h2>
        <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="col-md-offset-2 col-md-8 ipad">
        <a class="popup-vimeo" href="http://player.vimeo.com/video/78554894?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff">
          <i class="fa fa-play-circle-o fa-3x"></i>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- end vodeo -->

<!-- Testimonial -->
<div id="testimonial" class="container text-blue">
  <div class="row">
    <div class='col-md-12 text-center p_title'>
    <h2>Testimonials</h2>
    <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
  <div class='row'>
    <div class=' col-md-12'>
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
        <!-- Bottom Carousel Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#quote-carousel" data-slide-to="1"></li>
          <li data-target="#quote-carousel" data-slide-to="2"></li>
          <li data-target="#quote-carousel" data-slide-to="3"></li>
          <li data-target="#quote-carousel" data-slide-to="4"></li>
        </ol>
        
        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner">
        
          <!-- Quote 1 -->
          <div class="item active">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img alt="quote_1" class="img-circle" src="images/feedback_01.png" />
                </div>
                <div class="col-sm-9">
                  <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!</p>
                  <small>Someone famous</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 2 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img alt="quote_2" class="img-circle" src="images/feedback_02.png" />
                </div>
                <div class="col-sm-9">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.</p>
                  <small>Someone famous</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 3 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img alt="quote_3" class="img-circle" src="images/feedback_03.png" />
                </div>
                <div class="col-sm-9">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                  <small>Someone famous</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 4 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img alt="quote_4" class="img-circle" src="images/feedback_01.png" />
                </div>
                <div class="col-sm-9">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                  <small>Someone famous</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 5 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img alt="quote_5" class="img-circle" src="images/feedback_02.png" />
                </div>
                <div class="col-sm-9">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                  <small>Someone famous</small>
                </div>
              </div>
            </blockquote>
          </div>
        </div>
        
        <!-- Carousel Buttons Next/Prev -->
        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
      </div>                          
    </div>
  </div>
</div>
<!-- end testimonial -->

<!-- Download -->
<section id="download" class="text-white">
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12 column text-center">
        <h2 class="text-center">Are you ready?</h2> 
        <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="col-md-12 text-center">
        <a href="#" class="btn btn-lg btn-lead"><span class="glyphicon glyphicon-cloud-download"></span> Download Now</a>
      </div>
    </div>
  </div>
</section>
<!-- end download -->

<!-- Screenshot -->
<div class="container text-blue" id="screenshots">
  <div class="row">
    <div class="col-md-12 p_title">
      <h2 class="text-center">Screenshots</h2> 
      <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
  <div class="row ">
    <ul id="owl-screenshot" class="owl-carousel text-center">
      <li><img class="" src="images/portfolio/01.jpg" alt="Image" width="240px"></li>
      <li><img class="" src="images/portfolio/02.jpg" alt="Image" width="240px"></li>
      <li><img class="" src="images/portfolio/03.jpg" alt="Image" width="240px"></li>
      <li><img class="" src="images/portfolio/04.jpg" alt="Image" width="240px"></li>
      <li><img class="" src="images/portfolio/05.jpg" alt="Image" width="240px"></li>
      <li><img class="" src="images/portfolio/06.jpg" alt="Image" width="240px"></li>
      <li><img class="" src="images/portfolio/07.jpg" alt="Image" width="240px"></li>
      <li><img class="" src="images/portfolio/08.jpg" alt="Image" width="240px"></li>
    </ul>
  </div>
</div><!--.container-->
<!-- end screenshot -->






<section id="portfolio">
    <div class="container">
        <div class="section-header">
            <h2 class="text-center">Our Works</h2>
            <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>

        <div class="text-center">
            <ul class="portfolio-filter">
                <li><a class="active" href="#" data-filter="*">All Works</a></li>
                <li><a href="#" data-filter=".animation">Animation</a></li>
                <li><a href="#" data-filter=".Business">Business</a></li>
                <li><a href="#" data-filter=".art">Art</a></li>
            </ul><!--/#portfolio-filter-->
        </div>

        <div class="portfolio-items">
            <div class="portfolio-item animation">
                <div class="portfolio-item-inner">
                    <img class="img-responsive" src="images/portfolio/01.jpg" alt="">
                    <div class="portfolio-info">
                        <h3>Portfolio Item 1</h3>
                        <a class="preview" href="images/portfolio/full.jpg">
                            <img src="images/portfolio/expand.png" alt="">
                        </a>
                    </div>
                </div>
            </div><!--/.portfolio-item-->


            <div class="portfolio-item Business art">
                <div class="portfolio-item-inner">
                    <img class="img-responsive" src="images/portfolio/02.jpg" alt="">
                    <div class="portfolio-info">
                        <h3>Portfolio Item 2</h3>
                        <a class="preview" href="images/portfolio/full.jpg">
                            <img src="images/portfolio/expand.png" alt="">
                        </a>
                    </div>
                </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item animation">
                <div class="portfolio-item-inner">
                    <img class="img-responsive" src="images/portfolio/03.jpg" alt="">
                    <div class="portfolio-info">
                        <h3>Portfolio Item 3</h3>
                        <a class="preview" href="images/portfolio/full.jpg">
                            <img src="images/portfolio/expand.png" alt="">

                        </a>
                    </div>
                </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item Business">
                <div class="portfolio-item-inner">
                    <img class="img-responsive" src="images/portfolio/04.jpg" alt="">
                    <div class="portfolio-info">
                        <h3>Portfolio Item 4</h3>
                        <a class="preview" href="images/portfolio/full.jpg">
                            <img src="images/portfolio/expand.png" alt="">

                        </a>
                    </div>
                </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item animation art">
                <div class="portfolio-item-inner">
                    <img class="img-responsive" src="images/portfolio/05.jpg" alt="">
                    <div class="portfolio-info">
                        <h3>Portfolio Item 5</h3>
                        <a class="preview" href="images/portfolio/full.jpg">
                            <img src="images/portfolio/expand.png" alt="">

                        </a>
                    </div>
                </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item Business">
                <div class="portfolio-item-inner">
                    <img class="img-responsive" src="images/portfolio/06.jpg" alt="">
                    <div class="portfolio-info">
                        <h3>Portfolio Item 5</h3>
                        <a class="preview" href="images/portfolio/full.jpg">
                            <img src="images/portfolio/expand.png" alt="">

                        </a>
                    </div>
                </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item animation art">
                <div class="portfolio-item-inner">
                    <img class="img-responsive" src="images/portfolio/07.jpg" alt="">
                    <div class="portfolio-info">
                        <h3>Portfolio Item 7</h3>
                        <a class="preview" href="images/portfolio/full.jpg">
                            <img src="images/portfolio/expand.png" alt="">

                        </a>
                    </div>
                </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item Business">
                <div class="portfolio-item-inner">
                    <img class="img-responsive" src="images/portfolio/08.jpg" alt="">
                    <div class="portfolio-info">
                        <h3>Portfolio Item 8</h3>
                        <a class="preview" href="images/portfolio/full.jpg">
                            <img src="images/portfolio/expand.png" alt="">

                        </a>
                    </div>
                </div>
            </div><!--/.portfolio-item-->
        </div>
    </div><!--/.container-->
</section><!--/#portfolio-->





<!-- Social -->
<section id="social" class="container-fluid text-white">
  <div class="container">
    <div class="row">
  
      <div class="col-md-12 text-center ">
        <ul class="social-icons list-unstyled list-inline">
          <li>
            <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook" class="green-tooltip">
              <div class="social-icon text-center"><i class="fa fa-facebook-official fa-lg"></i></div>
            </a>
          </li>

          <li>
            <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter" class="green-tooltip">
              <div class="social-icon text-center"><i class="fa fa-twitter fa-lg"></i></div>
            </a>
          </li>

          <li>
            <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Whatsapp" class="green-tooltip">
              <div class="social-icon text-center"><i class="fa fa-whatsapp fa-lg"></i></div>
            </a>
          </li>

          <li>
            <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram" class="green-tooltip">
              <div class="social-icon text-center"><i class="fa fa-instagram fa-lg"></i></div>
            </a>
          </li>

          <li>
            <a href="mailto:author@company.com" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email" class="green-tooltip"><!-- Change to your own email address -->
              <div class="social-icon text-center"><i class="fa fa-envelope fa-lg"></i></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- end social -->

<!-- Neswsletter -->
<section id="newsletter" class="container-fluid text-white">
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12 column text-center p_title">
        
        <h2>Subscribe Now</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="col-md-12 text-center"> 

        <form name="contact-form" method="POST"  action="/submit" class="form-horizontal">
          <fieldset>
            <!-- Text input-->
            <div class="form-group">
              <div class="col-md-offset-2 col-md-8">
                <input id="email_address" type="email" name="email_address" placeholder="Enter Email Here" class="form-control input-lg" required="">
              </div>
            </div>
          

            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="submit"></label>
              <div class="col-md-12 text-center">
                <button id="submit" name="submit" class="btn btn-lg btn-submit btn-wide">Submit</button>
              </div>
            </div>

          </fieldset>
        </form>
        <p class="text-center text-blue">
          <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
        </p>
      </div>
    </div>
  </div>       
</section>
<!-- end newsletter -->

