<div class="container mt50">
  <h3>Signed up users</h3>
  
  <div class="col-sm-8">
    <table class="table">
        <tr>
          <th> Name  </th>
          <th> Email </th> 
        </tr>
      <% users.forEach(function(user){ %>
          <tr>
            <td><%=user.first_name%></td>
            <td><%=user.email_address%></td>
          </tr>
      <% }) %>
    </table>
    
  </div>
</div>